<style>
    html {
    height: 100%;
}

body{
    margin-top: 10;
}

#main{
    color: #888;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 100;
}

</style>
<div id="main">
    <h1>Error 404</h1>
    <p>Try Again by Refreshing the page!</p>
</div>